<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Space Saver" content="Match & Save App" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../Public/Assets/stylesheets/style.css" />
    <title>Space Saver | Match & Save App</title>
  </head>

  <body>
    <div id="amazon-root"></div>
    <script type="text/javascript">
      window.onAmazonLoginReady = function() {
        amazon.Login.setClientId(
          "amzn1.application-oa2-client.9a365baf2b244a60bcc887603cea4445"
        );
      };
      (function(d) {
        var a = d.createElement("script");
        a.type = "text/javascript";
        a.async = true;
        a.id = "amazon-login-sdk";
        a.src = "https://assets.loginwithamazon.com/sdk/na/login1.js";
        d.getElementById("amazon-root").appendChild(a);
      })(document);

      document.getElementById("LoginWithAmazon").onclick = function() {
        options = {};
        options.scope = "profile";
        options.scope_data = {
          profile: { essential: false },
        };
        amazon.Login.authorize(
          options,
          "https://www.example.com/handle_login.php"
        );
        return false;
      };
    </script>

    <a href id="LoginWithAmazon">
      <img
        border="0"
        alt="Login with Amazon"
        src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
        width="156"
        height="32"
      />
    </a>

    <header>
      <div class="menu-toggle">
        <i class="fas fa-bars"></i>
      </div>
      <div class="overlay"></div>
      <nav>
        <i class="fas fa-times"></i>
        <div class="logo">
          <img src="" alt="Space Saver" />
        </div>
        <div class="nav-middle">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Match & Save</a>
            </li>
            <li>
              <a href="#">Account</a>
            </li>
          </ul>
        </div>
        <div class="nav-right">
          <ul>
            <li>
              <a href="#">
                <i class="fas fa-search"></i>
              </a>
            </li>
            <li>
              <a href="#"> <i class="fas fa-user"></i> Account </a>
            </li>
            <li>
              <a href="#"> <i class="fas fa-cart"></i> Cart </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="main">
      <div class="tone-1">
        <div class="product-info">
          <h1>Space Saver</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia
            excepturi, sunt eaque optio rerum mollitia maxime! Voluptas, quae
            minus ullam perspiciatis repudiandae sequi consectetur assumenda,
            maiores facere eum dolorum neque?
          </p>
        </div>
      </div>
      <div class="tone-2">
        <img
          src="../Public/Assets/img/png-clipart-computer-icons-astronaut-astronaut-logo-artwork.png"
          alt="Space Saver"
        />
      </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
