<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700'>
    <link rel="stylesheet" href="../Public/css/style.css">
    <title>Space Saver | Match & Save App</title>
</head>

<body>
    <header>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <nav>
            <i class="fas fa-times"></i>
            <div class="logo">
                <img src="" alt="Application Space Saver Logo">
            </div>
            <div class="nav-middle">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Match & Save</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <ul>

                    <li>
                        <a href="#">
                            <i class="fas fa-search"></i>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-user"></i> Account
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-cart"></i> Cart
                    </li>

                </ul>
            </div>
        </nav>
        <main>
            <section class="main">
                <div class="tone-1">
                    <div class="product-info">
                        <h1>Space Saver</h1>
                    </div>
                </div>
            </section>
        </main>

        </div>
    </header>

    <!-- main container -->







    <script src="http"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>