form.signup,
form.login {
  margin-top: 50px;
}
body{
  background-color:#10ABFD;
  width:100%;
  height:100%;
  overflow:hidden;
}
svg{
  position:absolute;
   width:80%;
  top:20%;
 left:10%;
  visibility:hidden;
}
#container{
  position:absolute;
  width:100%;
  height:100%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}